.footer {
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  padding: 60px 12px 24px 12px;
  @media (min-width: 992px) {
    padding: 60px;
  }
  &-logo {
    max-width: 141px;
    @media (min-width: 992px) {
      max-width: 400px;
    }
  }
  &-lists {
    max-width: 640px;
    padding: 0 12px;
  }
  &-li {
    list-style: none;
    a {
      font-size: 16px;
      font-weight: 700;
      color: $primary-dark-second;
      text-decoration: none;
      @media (min-width: 992px) {
        font-size: 20px;
      }
      &:hover {
        color: $primary-tint !important;
      }
    }
  }
  &-rights {
    font-size: 16px;
    color: $black-900;
    p {
      margin-bottom: 0;
    }
  }
}
