.container {
  @media (min-width: 992px) {
    max-width: 1296px;
  }
}
.layout-main {
  background: $secondary-tint;
  &-content {
    min-height: 100vh;
    padding-top: var(--app-bar-height-sm);
    @media (min-width: 992px) {
      padding-top: var(--app-bar-height);
    }
  }
}
